manifest {
    name = 'af3-nextflow'
}

// Global Executor Ayarları (Makinenin Toplam Kapasitesi)
executor {
    name = 'local'
    cpus = 112
    memory = '1000 GB'
}

// Process Bazlı Ayarlar
process {
    executor = 'local'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'alphafold3:latest'

    withName: AF3_DATA_PIPELINE {
        cpus = 12   // Veri işleme için 12 CPU ayır (toplam 112 CPU var, geri kalanı inference için)
        memory = '64 GB'
        maxForks = 8   // Aynı anda en fazla 8 veri işleme çalışsın (CPU limiti)
    }

    withName: AF3_INFERENCE {
        cpus = 8
        memory = '64 GB'
        maxForks = 1   // GPU tek olduğu için aynı anda SADECE 1 tane çalışsın
        // GPU kullanımı Docker ayarlarında tanımlı
    }
}

docker {
    enabled = true
    runOptions = [
        "--gpus=all", // 'all' genellikle daha güvenlidir, tek GPU varsa onu alır
        "--ipc=host",
        "--ulimit memlock=-1",
        "--ulimit stack=67108864",
        "--volume ${params.db_dir}:/root/public_databases:ro",
        "--volume ${params.model_dir}:/root/models:ro"
    ].join(' ')
}

